@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/tlo.jpg');
    background-size: cover;
    font-family: 'JetBrains Mono';
    font-size: 16px;
    gap: 10px;
}

.in {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.out {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.head {
    display: flex;
    gap: 10px;
    background-color: black;
    color: whitesmoke;
    justify-content: space-around;
}

.screen {
    display: flex;
    gap: 10px;
    background-color: #3232ff;
    color: whitesmoke;
    padding-left: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-scroll {
    color: #3232ff;
    background-color: whitesmoke;
}

.big-span {
    font-size: 24px;
}

button, input, a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'JetBrains Mono';
    margin: 5px;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

.in-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}