
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/tlo2.jpg');
    background-size: cover;
    font-family: 'JetBrains Mono';
    font-size: 16px;
    gap: 10px;
}

.in {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

button, input, a {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'JetBrains Mono';
    margin: 5px;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: black;
}

.in-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.out {
    width: 877px;
    height: 620px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.out-top {
    border-bottom: 3px solid black;
    color: red;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.out-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
}

#nazwaO {
    font-style: italic;
}

.big {
    font-size: 40px;
    font-weight: bold;
}

#posrednieO {
    font-size: 20px;
    text-align: center;
}

#koncowaO {
    text-align: right;
}